@page
@model PW.UI.Areas.AdminPanel.Pages.IndexModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "Main Page";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-right page-title">خوش آمدید...</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="#">صفحه نخست</a></li>
            <li class="active">داشبورد مدیریتی</li>
        </ol>
    </div>
</div>
